body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.zoneTitle{
    margin-left: .5em;
    color: white;
}

#epiZone {
    position: static;
}

.land {
    width: 100%;
    height: 500px;
    margin: 0;
    display: flex;
    background-image: url("../images/land.jpg");
    background-size: cover;
    background-color: rgb(170, 220, 240);
    border-bottom: 4px solid white;
}

.ocean h4, .land h4 {
    font-size: 2em;
    color: white;
    align-self: flex-end;
    margin: 0 auto;
}

.ocean {
    width: 100%;
    height: 1000px;
    margin: 0;
    border-bottom: 4px solid white;
    display: flex;
}

.sunlit {
    background-color: #86d2e7;
}

.sunlitLast {
    background-color: #86d2e7;
    background-image: linear-gradient(#86d2e7, #263069);
}

.twilit {
    background-color: #263069;
}

.twilitLast {
    background-color: #263069;
    background-image: linear-gradient(#263069, #000e38)
}

.midnight {
    background-color: #000e38;
}

.oceanfloor {
    background-color: black;
    height: 100px;
}