html {
    background-color: #000e38;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.zoneTitle {
    font-size: 2em;
    margin-left: .5em;
    color: white;
    position: static;
    width: 100%;
}

#depthDiv{
    position: fixed;
    bottom: 50%;
    right: 0;
    margin: 0;
    padding: 0;
    border-bottom: white solid 2px;
}

#depthTxt, #presTxt {
    color: white;
    margin: 0 .5em 0 0;
}

.zoneDiv {
    /* border-top: 4px solid white; */
}

.top {
    width: 100%;
    height: 500px;
    margin: 0;
    display: flex;
    background-image: url("../images/land.jpg");
    background-size: cover;
    background-color: rgb(170, 220, 240);
}

.ocean h4, .land h4 {
    font-size: 2em;
    color: white;
    align-self: flex-end;
    margin-bottom: 0;
    width: 100%;
    text-align: right;
    margin-right: .5em;
    display: none;
}

.ocean {
    width: 100%;
    height: 1000px;
    margin: 0;
    display: flex;
    /* border-bottom: 4px solid white; */
}

.sunlit {
    background-color: #86d2e7;
}

.sunlitLast {
    background-color: #86d2e7;
    background-image: linear-gradient(#86d2e7, #263069);
}

.twilit {
    background-color: #263069;
}

.twilitLast {
    background-color: #263069;
    background-image: linear-gradient(#263069, #000e38)
}

.midnight {
    background-color: #000e38;
}

.midnightLast {
    background-color: #000e38;
    height: 950px;
}

.oceanfloor {
    background-color: black;
    height: 500px;
}

#distTogl {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    display: block;
    width: 40px;
    margin: 0;
    font-size: 1em;
    line-height: 2em;
    color: white;
    text-align: center;
    background-color: rgb(60, 60, 60);
    background-color: rgba(60, 60, 60, 0.685);
    -webkit-transition: .3s;
    transition: .3s;
}

#presTogl {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 60px;
    display: block;
    width: 40px;
    margin: 0;
    font-size: 1em;
    line-height: 2em;
    color: white;
    text-align: center;
    background-color: rgb(60, 60, 60);
    background-color: rgba(60, 60, 60, 0.685);
    -webkit-transition: .3s;
    transition: .3s;
}

@media screen and (max-width: 550px) {
    h1, .ocean h4, .land h4, .zoneTitle {
        font-size: 1em;
    }
}